<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>ExamenEmbebido</title>
</head>
<body>




<h2> SENSOR NUMERO 1</>
<button id = 'cd1'type="button" onclick="ENDEDIDO_1()">
Encender</button>
<button id = 'cd2'type="button" onclick="ENDEDIDO_2()">
Apagar</button>
<br />
<h1>Estado del SENSOR 1:</h><h id="respuesta">--</h1>

<h2> SENSOR NUMERO 2</>
<button id = 'cd3'type="button" onclick="ENDEDIDO_1_1()">
Encender</button>
<button id = 'cd4'type="button" onclick="ENDEDIDO_2_2()">
Apagar</button>
<br />

<h2> HORA</>
<h2><b> La hora es:</h2>
<h2 id= "respuesta2"></h2>

<script>

</script>
</body>
</html>
